{% extends 'base.html' %}{% load humanize %}


{% block head %}
  <style>
  body{font-family: 'Helvetica', sans-serif; }
  </style>
{% endblock head %}

{% block content %}
  <div class="mb-5 text-center">
    <h1>Motor Insurance Quotation</h1>
  </div>

  <div>
    <table class="table table-bordered">
      <tr>
        <td>Quotation Number</td>
        <td>{{ quotation.number }}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{{ quotation.created_at|date:"d M Y" }}</td>
      </tr>
      <tr>
        <td>Mobile Phone</td>
        <td>{{ quotation.mobile_number }}</td>
      </tr>
    </table>
  </div>

  <div class="row mb-5">
    <div class="col-lg-6">
      <h2>Customer Information</h2>
      <table class="table table-bordered">
        <tr>
          <td>Name</td>
          <td>{{ quotation.name }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ quotation.email }}</td>
        </tr>
        <tr>
          <td>Mobile Phone</td>
          <td>{{ quotation.mobile_number }}</td>
        </tr>
      </table>
    </div>

    <div class="col-lg-6">
      <h2>Vehicle information</h2>
      <table class="table table-bordered vehicle">
        <tbody>
          <tr>
            <td>Vehicle model</td>
            <td>{{ quotation.vehicle_model }}</td>
          </tr>
          <tr>
            <td>Vehicle made</td>
            <td>{{ quotation.vehicle_year }}</td>
          </tr>
          <tr>
            <td>Vehicle Number</td>
            <td>{{ quotation.vehicle_number }}</td>
          </tr>
          <tr>
            <td>Vehicle Price</td>
            <td>RM {{ quotation.vehicle_price|intcomma }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <h2>Insurance Price</h2>
  <table class="table quotation">
    <tbody>
      <tr>
        <td>Basic Price</td>
        <td class="text-right">RM {{ basic_price|intcomma }}</td>
      </tr>
      {% if quotation.cov_windscreen %}
      <tr>
        <td>Windscreen coverage</td>
        <td class="text-right">
          RM {{ quotation.cov_windscreen }}
        </td>
      </tr>
      {% endif %}
      {% if quotation.cov_passanger_liability %}
      <tr>
        <td>Passanger Liability coverage</td>
        <td class="text-right">RM {{ quotation.cov_passanger_liability }}</td>
      </tr>
      {% endif %}
      {% if quotation.cov_others %}
      <tr>
        <td>Flood, Windstorm, Landslide or Subsidence coverage</td>
        <td class="text-right">RM {{ quotation.cov_others }}</td>
      </tr>
      {% endif %}

      <tr class="table-active">
        <th>Total</th>
        <th class="text-right">RM {{ quotation.price|intcomma }}</th>
      </tr>
    </tbody>
  </table>
{% endblock content %}
